<h1>One Movie</h1>

  <li>
    title: <%= @movie.title %>
    description: <%= @movie.description %>
    year: <%= @movie.year %>
  </li>

  <%= link_to "Edit Movie", edit_movie_path %>
  <%= link_to "Delete this movie", movie_path(@movie), method: :delete, data: {confirm: "Are you sure?"} %>


<%= link_to "back", root_path %>
